.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  padding-top: 12px;
  align-items: center;
  margin-top: auto;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #212121;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 353px;
}

.card__like-btn {
  background-image: url(../images/Union.svg);
  background-size: contain;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
}
@media screen and (max-width: 627px) {
  .card__image {
    display: flex;
    height: 288px;
    justify-content: space-between;
    align-items: center;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    max-width: 235px;
  }
}
