.modal {
  background-color: #00000080;
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, visibility 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease, visibility 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  background-image: url(../images/X-icon.svg);
  top: 32px;
  right: 32px;
  height: 40px;
  width: 40px;
  opacity: 0.4;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  background-color: #212121;
  color: #fcf5e5;
  font-family: Poppins, Arial, sans-serif;
  border-radius: 8px;
  padding: 18px 32px;
  cursor: pointer;
  opacity: 1;
}

.modal__submit-btn:hover {
  opacity: 0.5;
}

.modal__title {
  max-width: 630px;
  width: 100%;
  margin: 0 0 32px;
  font-size: 32px;
  font-family: Poppins, Arial, sans-serif;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121b2;
  font-family: Poppins, Arial, sans-serif;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #21212160;
  font-family: Poppins, Arial, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__preview-content {
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding: 0;
}

.modal__preview-image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
}

.modal__preview-caption {
  color: white;
  font-family: Poppins, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.25;
  margin-top: 10px;
}

.modal__close-btn_type_preview {
  position: absolute;
  top: -40px;
  right: -40px;
  background-image: url(../images/X-icon.svg);
  opacity: 1;
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
    width: 276px;
    max-width: 100%;
  }

  .modal__submit-btn {
    max-width: none;
  }

  .modal__close-btn_type_preview {
    top: -36px;
    right: 0;

    height: 30px;
    width: 30px;
  }

  .modal__preview-image {
    max-width: 90vw;
    max-height: 90vh;
  }
}
