.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  padding: 10px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  background-image: url(../images/X-icon.svg);
  top: 32px;
  right: 50px;
  height: 40px;
  width: 40px;
  opacity: 40%;
  border: none;
  background-color: transparent;
}

.modal__submit-btn {
  max-width: 156px;
  width: 100%;
  background-color: #212121;
  color: #fcf5e5;
  font-family: Poppins, Arial, sans-serif;
  border-radius: 8px;
  padding: 18px 32px;
  cursor: pointer;
}

.modal__title {
  max-width: 630px;
  width: 100%;
  margin: 0 0 32px;
  font-size: 32px;
  font-family: Poppins, Arial, sans-serif;
  gap: 421px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  color: #212121b2;
  font-family: Poppins, Arial, sans-serif;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #21212160;
  font-family: Poppins, Arial, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

@media screen and (max-width: 627px) {
  .modal__title {
    font-size: 20px;
  }

  .modal__input {
    font-size: 16px;
    width: 276px;
    max-width: 100%;
  }

  .modal__submit-btn {
    max-width: none;
  }
}
