.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  height: 190px;
  width: 190px;
  margin-right: 20px;
}

.profile__avatar {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.profile__avatar-edit-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  background-image: url("../images/pencil.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px 26px;
}

.profile__avatar-container:hover .profile__avatar-edit-btn {
  opacity: 1;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 32px;
  line-height: 1;
  color: #212121;
}

.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
}

.profile__edit-btn {
  margin-top: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  opacity: 70%;
  color: #212121;
  border: none;
  background: none;
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 8px;
  height: 52px;
  padding: 18px 32px;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  border-radius: 8px;
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-container {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__avatar {
    height: 100%;
    width: 100%;
  }

  .profile__avatar-edit-btn {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .profile__name {
    margin: 0 0 6px;
    font-size: 20px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
  }

  .profile__edit-btn {
    margin: 0 0 12px;
  }

  .profile__add-btn {
    margin-left: 0;
    width: 100%;
  }
}
